html, body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color: white;
  overflow: hidden;
}

#code-playground {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow: scroll;
}

#log-list {
  padding: 12px;
  text-align: left;
}

#code-panel {
  display: block;
  position: relative;
  flex: 3 1;
  overflow: hidden;
}

#editor {
  width: 100%;
  height: 100vh;
}

#info-panel {
  display: block;
  max-height: 100vh;
  overflow: scroll;
  min-width: 300px;
  flex: 1 1;
  background: #333;
  color: white;
  text-align: center;
}

.output-hidden #info-panel {
  display: none;
}

#sandbox {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.hidden {
  display: none;
}

#side-menu {
  display: flex;
  flex-flow: column;
  background: #333;
  overflow-y: scroll;
}

.output-hidden .hide-icon {
  display: none;
}

.output-hidden .show-icon {
  display: block;
}

#side-menu i {
  color: white;
  font-size: 36px;
  cursor: pointer;
  padding: 18px 12px;
}

#side-menu i:hover {
  background: #222;
}

.menu-items > div {
  user-select: none;
  cursor: pointer;
}

.console-output-label {
  margin: 0;
  padding: 24px;
  background: #222;
  text-transform: uppercase;
}


#select-editor {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#select-editor > h1 {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}


.editor-helper-text {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  font-size: 12px;
}

.select-editor-hidden .editor-helper-text {
  display: block;
}


.select-editor-hidden #select-editor {
  display: none;
}

#select-editor > h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.editor-selection {
  position: relative;
  cursor: pointer;
  flex: 1 1 48%;
  display: flex;
  align-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editor-selection:hover {
  background: #333;
}

.editor-selection h1 {
  margin: 12px auto;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.editor-details {
  position: absolute;
  display: none;
  background: #111;
  width: 100%;
  height: 100%;
  text-align: center;
  align-self: center;
}

.editor-details ul {
  text-align: left;
  margin: 0 auto;
}

.editor-details h1 {
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.editor-details p {
  margin: 6px auto;
}

.editor-selection:hover .editor-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}